# Carpetas generadas automáticamente por NetBeans
nbproject/private/*
build/

# Bloqueos temporales de LibreOffice/Writer
.~lock.Casos-uso.odt#

# Archivos temporales de NetBeans
nbproject/Makefile-*.mk
nbproject/Package-*.bash

# Archivos de compilación
*.class

# Archivos del sistema
.DS_Store
Thumbs.db
